 <!-- partial -->
 {% extends "base.html" %}
 {% block content %}
 


 <style>
     #btn{
      position: relative;
      right: 24px;
     }
    .hidden{
     display: none;
    }
    #btn{
     justify-content: space-between;
     margin-left: 15px;
     margin-right: 15px;
    }
    td i{
      color: green;
      margin: 5px;
    }
    td i:hover{
      color: red;
    }
  </style>
 
  <div class="main-panel">
   <div class="content-wrapper">
     <div class="page-header">
       <h3 class="page-title">Factures </h3>
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="{% url "index" %}">Acceuil</a></li>
           <li class="breadcrumb-item active" aria-current="page">Factures</li>
         </ol>
       </nav>
     </div>




     <div class="row">
        <div class="col-lg-12">
          <div class="card px-2">
            <div class="card-body">
              <div class="container-fluid">
                <h3 class="text-end my-5">Facture&nbsp;&nbsp;#{{facture.id}}  </h3>
                <hr>
              </div>
              <div class="container-fluid d-flex justify-content-between">
                <div class="col-lg-3 ps-0">
                  <p class="mt-5 mb-2"><b>Corona Admin</b></p>
                  <p>104,<br>Minare SK,<br>Canada, K1A 0G9.</p>
                </div>
                <div class="col-lg-3 pe-0">
                  <p class="mt-5 mb-2 text-end"><b>Facture de</b></p>
                  <p class="text-end">{{facture.client.nom}}  {{facture.client.prenom}}    <br> {{facture.client.tel}}<br>{{facture.client.email}}</p>
                </div>
              </div>
              <div class="container-fluid d-flex justify-content-between">
                <div class="col-lg-3 ps-0">
                  <p class="mb-0 mt-5">Invoice Date : 23rd Jan 2016</p>
                  <p>Due Date : 25th Jan 2017</p>
                </div>
              </div>
              <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                <div class="table-responsive w-100">
                  <table class="table">
                    <thead>
                      <tr class="bg-dark text-white">
                        <th>#</th>
                        <th>Description</th>
                        <th class="text-end">Quantité</th>
                        <th class="text-end">Prix unitaire</th>
                        <th class="text-end">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for f in facture.produitfacture_set.all %}
                      <tr class="text-end">
                        <td class="text-start">{{f.produit.id}}</td>
                        <td class="text-start">{{f.produit.libelle}}</td>
                        <td>{{f.quantite}}</td>
                        <td>{{f.prix}} Fcfa</td>
                        <td>{{f.montant}}Fcfa</td>
                      </tr>
                      {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="container-fluid mt-5 w-100">
                <p class="text-end mb-2">Sub - Total amount: {{facture.totaux}}Fcfa</p>
                <p class="text-end">vat (10%) : $138</p>
                <h4 class="text-end mb-5">Total : $13,986</h4>
                <hr>
              </div>
              <div class="container-fluid w-100">
                <a href="#" class="btn btn-primary float-right mt-4 ms-2"><i class="mdi mdi-printer me-1"></i>Print</a>
                <a href="#" class="btn btn-success float-right mt-4"><i class="mdi mdi-telegram me-1"></i>Send Invoice</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
{% comment %} 

     
    
    
        <div class="header">
            <h1>Facture #{{facture.id}}</h1>
            <p>Date: {{facture.date}}</p>
        </div>
        <div class="invoice-details">
            <div class="etp">
                
                <p><b></a>Votre entreprise</b></p>
                <p><b>Adresse</b></p>
                <p><b>Email: contact@example.com</b></p>
            </div>
            <div class="clt">
                
                <p><b>Nom:{{facture.client.nom}}  {{facture.client.prenom}}</b></p>
                <p><b>Adresse:{{facture.client.tel}}</b></p>
                <p><b>Email: {{facture.client.email}}</b></p>
            </div>
        </div>
        <table class="items-table">
           
           
        
    
    
    </div> {% endcomment %}
        
          
          
















           

            





            
            
            




            
            
           </div>
         </div>
       </div>
       
                





      
     </div>


    </div>
</div>


   {% endblock  %}