{% block list_facture %}







<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Liste de factures</h4>
          <div id="div">
          <form class="form-inline" method="GET" >
            <div class="form-group mb-2">
              <label for="recherche" class="sr-only" id="recherche">Recherche</label>
              <input type="text" 
              id="recherche" 
              class="form-control" 
              name="q" value="{{ query }}" 
              placeholder="Rechercher..."
              hx-get='{% url "liste_facture" %}'
              hx-target="#tbody" 
              hx-swap="outerHTML" >
            </div>           
            <button type="submit" 
            class="btn btn-primary mb-2" 
            name="q" value="{{ query }}" 
            placeholder="Rechercher..."
            hx-get='{% url "liste_facture" %}'
            hx-target="#tbody" 
            hx-swap="outerHTML">Rechercher</button>
          </form>
          <form action="">
          <div class="form-group" id="div1">
            <input type="date" name="date"
             class="form-control"id="date">
            <button class="btn btn-primary mb-2"
            hx-get="{% url 'tri_facture' %}"
            hx-target='#tbody'
            hx-swap='outerHTML'>Rechercher</button>
          </div>
        </form>
        </div>
        </div>
        
    
          <div class="table-responsive">
            <table class="table" id="table-factures">
              <thead>
                <tr>
                  <th> ID </th>
                  <th> Date </th>
                  <th> Nom  </th>
               
                  <th> Numero </th>
                  <th> Adresse </th>
                  <th> Total </th>                   
                  <th> Status </th>
                  <th> Actions </th>
                </tr>
              </thead>
              <tbody id="tbody" >
                {% for f in factures %}
                <tr>
                   <td>#{{f.id}}</td>
                   <td> {{f.date}}</td>
                   <td>{{f.client.nom}} {{f.client.prenom}}</td>
                 
                  <td> {{f.client.tel}}</td>
                  <td> {{f.client.adresse}}</td>
                  <td> {{f.totaux}}</td>
                  
                  <td>
                    <div class="badge {% if f.status == 'Payé' %}badge-outline-success{% else %}badge-outline-danger{% endif %}">
                      {{ f.status }}
                    </div>
                  </td>
                  <td >
                    <a href="{% url "detail_facture" f.id %}">
                      <i class="fas fa-eye"></i>
                    </a>
                  
                    <a href=""
                    hx-delete="{% url 'sup_fact' f.id %}"
                    hx-confirm="Etes-vous de sure de vouloir suprimer cette facture?"
                    hx-target="closest tr" 
                    hx-swap="outerHTML" >
                    <i class="fas fa-trash"></i>
                    </a>
                  </td>
                  
                </tr>
                {% endfor %}
              
              
                
              </tbody>
              
              
            </table>
          </div>
        </div>
      </div>
    </div>


    
    


{% endblock %}